<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}

  <body>
    
    <div class="intro-header">
        <div class="wrapper-masthead">
         <div class="container">
           <header class="masthead clearfix">
             <div class="site-info">
               <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
               <p class="site-description">{{ site.description }}</p>
             </div>
             <nav>
               <a href="{{ site.baseurl }}/">블로그</a>
               <a href="{{ site.baseurl }}/about">About</a>
             </nav>
           </header>
         </div>
       </div>
       
        <div class="container">
            <div class="space-small"></div>
           
            <div class="centered">
              <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-1">				
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>{{site.name}}</h3>
                                </div>	
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
             
             <div class="space-medium"></div>
            
        </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <div class="svg-icon">
          {% include svg-icons.html %}
            </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
